<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			body,
			ul,
			li,
			h2 {
				margin: 0;
				padding: 0;
			}
			
			li {
				list-style: none;
			}
			.list>div {
				margin-bottom: 10px;
			}
			.list .show {
				display: block;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="css/qq.css" />
		<script src="js/vue.js"></script>
		<script>
			let qqList = [
				{
					title: '品牌',
					list: ["苹果", "小米", "锤子", "魅族", "华为", "三星", "OPPO", "vivo", "乐视", "360", "中兴", "索尼"]
				},
				{
					title: '尺寸',
					list: ["3.0英寸以下", "3.0-3.9英寸", "4.0-4.5英寸", "4.6-4.9英寸", "5.0-5.5英寸", "6.0英寸以上"]
				},
				{
					title: '系统',
					list: ["安卓", "(", "Android", ")", "苹果", "(", "IOS", ")", "微软", "(", "WindowsPhone", ")", "无", "其他"]
				},
				{
					title: '网络',
					list: ["联通3G", "双卡单4G", "双卡双4G", "联通4G", "电信4G", "移动4G"]
				}
			]
		</script>
	</head>

	<body onselectstart="return false;">
		<div class="wrap" id="app">
			<div class="list">
				<div v-for="group,i in qqList" @click="showListHander(i)">
					<h2 v-bind:class="{'active':index=== i}" ><span></span> {{group.title}}</h2>
					<ul v-bind:class="{'show':i == index}">
						<li v-for="friend in group.list" >{{friend}}</li>
					</ul>
				</div>
			</div>
		</div>
		<script>
			new Vue({
				el:"#app",
				data:{
					qqList,
					index:-1
				},
				methods:{
					showListHander:function(i){
						this.index= this.index === i ? -1 : i;
						console.log(this.index);
						
					}
				}
			}); 


		</script>
	</body>

</html>